.red{
    color: #FF1100;
}

.home-signup{
    background-color: #112233;
    background-size: 100% auto;
    padding-top: 150px;
    padding-bottom: 150px;
}

.home-description{
    background-color: #113333;
    background-size: 100% auto;
    padding-top: 150px;
    padding-bottom: 150px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 2em;
    background-color: #007bff;
    color: #ffffff;
    margin-bottom: 0;
}

#effect {
    display: block;
    position: fixed;
    z-index: -2;
    width: 100%;
    height: 100%;
}

#effectcanvas {
    width: 100%;
    height: 100%;
}

.testtext {
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

#grainhandle, #tensionhandle, #dotsizehandle, #linewidthhandle, #framehandle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.spline-message {
    color: #ff0000;
    font-size: 1.2em;
    text-indent: 2em;
}

p {
    text-indent: 2em;
}