{% extends "base.html" %}
{% set active_page = "CA: Spline" %}

{% block title %}{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
        <h1>Hello, this is a demo.</h1>
        <canvas id="splinecanvas" width="800" height="600" style="border: 1px solid #000000;">
            <h1>HTML5 Canvas is not supported in your browser!</h1>
        </canvas>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='jcanvas.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='model.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='view.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='control.js') }}"></script>
{% endblock %}